click==7.1.2
fastapi==0.61.2
h11==0.11.0
joblib==1.2.0
numpy
pandas
pydantic==1.7.2
python-dateutil==2.8.1
pytz==2020.4
scikit-learn
scipy==1.5.4
six==1.15.0
starlette==0.27.0
threadpoolctl==2.1.0
uvicorn==0.12.2